.ui-widget{
	font-size: 90% !important;
}

.ui-panelmenu .ui-panelmenu-header a {
	color: black;
}

#textomenu{
	font-family: Verdana,sans-serif;
	color: #004080;
	font-size: 24px;
	font-weight: bolder;
}

#mainHeader{
	font-family: Verdana,sans-serif;
	color: black;
	font-size: 24px;
	font-weight: bolder;
}

#mainFooter{
	font-family: Verdana,sans-serif;
	color: grey;
	font-size: 10px;
	font-weight: bolder;
}

.star {
  background-image: url("images/star.png");
}
